<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
       <ion-title>Contratos</ion-title>
       <ion-progress-bar type="indeterminate"></ion-progress-bar>
    </ion-toolbar>
 </ion-header>
 <ion-content class="ion-padding">
    <ion-card *ngFor="let contrato of contratos">
        <ion-card-header>
          <ion-card-title>{{contrato.nombreContrato}}</ion-card-title>
          <ion-card-title>Categoria: {{contrato.freelancer.categoria.nombre}}</ion-card-title>
          <ion-card-subtitle>Nombre freelancer: {{contrato.freelancer.nombre}} {{contrato.freelancer.apellido}}</ion-card-subtitle>
          <ion-card-subtitle>Desde {{contrato.fechaInicial}} - Hasta {{contrato.fechaFinal}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Valor contrato: {{contrato.valorContrato}} $ Metodo pago: {{contrato.metodoPago.nombreMetodoPago}}
        </ion-card-content>
        <ion-card-content>
          Descripción: 
          {{contrato.descripcion}}
        </ion-card-content>
      </ion-card>
 </ion-content>