<ion-header>
    <ion-toolbar>
      <ion-title>About</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" overflow-scroll="false">
    
    <h2>¿Qué es Jobtion?</h2>
    <p>Jobtion es la aplicación para contratar
        trabajadores independientes mediante una
        interacción sencilla con tarjetas. 
        Haciendolo facil para toda aquel que quiera 
        contratar personas en cualquier categoria de trabajo.
    </p>
    <h2>¿En qué está hecha Jobtion?</h2>
    <p>Jobtion está hecha con Ionic, este es un SDK completo de 
        código abierto para el desarrollo de aplicaciones 
        móviles híbridas.</p>
    <p>Para la parte del backend Jobtion está programada con Spring/Springboot, 
        un framework para el desarrollo de aplicaciones y contenedor de inversión 
        de control, de código abierto para la plataforma Java.​ 

    </p>
    <h2>Sobre los autores</h2>
    <p>Esta aplicación fue desarrollada por Santiago Quintero Jaimes 
        y Brayan Ferney Uribe Rodriguez para la materia de Ingenieria de 
        Software 1. A la fecha del desarrollo somos estudiantes de septimo semestre 
        de la carrera de Ingenieria de Sistemas en la Universidad Industrial de Santander.
    </p>
    <h4>Fecha de desarrollo</h4>
    <p>Febrero 8 del 2023</p>
  </ion-content>