<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
       <ion-title>Freelancers</ion-title>
       <ion-progress-bar type="indeterminate"></ion-progress-bar>
    </ion-toolbar>
 </ion-header>

 <ion-content class="ion-padding">
  <h1>Categoria: {{randomFreelancer.categoria.nombre}}</h1>
    <ion-card>
        <img [src]="randomFreelancer.fotoFreelancer" />
    <ion-card-header>
      <ion-card-title>{{randomFreelancer.nombre}}, {{randomFreelancer.edad}}</ion-card-title>
      <ion-card-subtitle>{{randomFreelancer.pais}}/{{randomFreelancer.ciudad}}, Años exp: {{randomFreelancer.aniosExp}} </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      {{randomFreelancer.descripcion}}
    </ion-card-content>
  
    <ion-button (click)="crearContrato()" fill="clear">Crear contrato</ion-button>
    <ion-button (click)="getFreelancer()" fill="clear">Siguiente</ion-button>
  </ion-card>
</ion-content>